* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  font-size: 0.625rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;

  --text-white: #fff;
  --text-gray-300: #d1d5db;
  --text-gray-400: #9ca3af;
  --text-green-300: #6ee7b7;

  --bg-gray-700: #374151;
  --bg-gray-900: #111827;
}

a {
  text-decoration: inherit;
}

body {
  font-size: 1.6rem;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  align-items: center;

  background-color: var(--bg-gray-900);
  color: var(--text-white);
}
